html {
    touch-action: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: #050F0D;
    /* Background of the track */
}

*::-webkit-scrollbar-thumb {
    background-color: #4F4F4F;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color when hovered */
}

body {
    touch-action: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "PingFang SC";
    font-size: 12px;
    text-rendering: geometricPrecision;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "PingFang SC";
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.select {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.graph {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
    outline: none;
    touch-action: pan-x pan-y;
}

.canvas {
    margin: auto;
    flex-shrink: 0;
    text-rendering: geometricPrecision;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.open-file-dialog {
    display: none;
}

.default {
    background-color: #ffffff;
}

.default .logo {
    width: 100%;
    height: 100%;
}

.graph-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.default .graph {
    display: flex;
}

.default .stats-container {
    display: flex;
}

.default .toolbar {
    display: table;
}


.default .logo .logo-result {
    display: none;
}

.toolbar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.toolbar button:focus {
    outline: 0;
}

.toolbar-button {
    float: left;
    background: None;
    border-radius: 6px;
    border: 0;
    margin: 0;
    margin-right: 1px;
    padding: 0;
    fill: None;
    stroke: #777;
    cursor: pointer;
    width: 24px;
    height: 24px;
    user-select: none;
}

.toolbar-path {
    float: left
}

.toolbar-path-back-button {
    float: left;
    background: #777;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 0px solid;
    border-color: #777;
    margin: 2px 0px 2px 8px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    height: 20px;
    color: #ffffff;
    font-size: 11px;
    line-height: 0;
    transition: 0.1s;
}

.toolbar-path-back-button:hover {
    background: #000000;
    border-color: #000000;
}

.toolbar-path-name-button {
    float: left;
    background: #777;
    border: 0px solid;
    border-color: #777;
    color: #ffffff;
    border-left: 1px;
    border-left-color: #ffffff;
    margin: 2px 0 2px 1px;
    padding: 0 8px 0 8px;
    cursor: pointer;
    width: auto;
    height: 20px;
    font-size: 11px;
    line-height: 0;
    transition: 0.1s;
}

.toolbar-path-name-button:hover {
    background: #000000;
    border-color: #000000;
}

.toolbar-path-name-button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.toolbar-icon .border {
    stroke: #fff;
}

.toolbar-icon .stroke {
    stroke: #808080;
}

.toolbar-icon:hover .stroke {
    stroke: #000000;
}

.message {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.message-text {
    display: inline;
    text-align: center;
    width: 562px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 50vh;
    padding-top: 56px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}

.message-button {
    display: inline;
    text-align: center;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    width: 100%;
    height: 100%;
}

.logo-text {
    top: -57px;
    width: 582px;
    transition: 0.1s;
}

.logo-name {
    top: -170px;
    width: 582px;
    transition: 0.1s;
}

.logo-icon {
    left: 248px;
    top: -18px;
    width: 106px;
    height: 106px;
    transition: 0.1s;
}

.logo-spinner {
    left: 248px;
    top: -18px;
    width: 106px;
    height: 106px;
    display: none;
}

.logo-stroke {
    stroke: #444444;
}

.logo-fill {
    fill: #444444;
}

.logo-border {
    stroke: #555555;
}

.logo-glyph {
    fill: #444444;
}

.miner-control {
    background-color: #111827;
    padding: 100px 20px;
}

/* Radio_Button_Start */
.radio-switch {
    display: inline-flex;
    padding: 1px;
    border-radius: 100vh;
    background-color: #1e293b;
}

.radio-switch:focus-within,
.radio-switch:active {
    box-shadow: 0 0 0 2px hsla(230, 7%, 23%, 0.15);
}

.radio-switch__item {
    position: relative;
    display: inline-block;
    height: 42px;
    width: 92px;
}

.radio-switch__label {
    position: relative;
    z-index: 2;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s;
}

.radio-switch__input:checked~.radio-switch__label {
    color: hsl(0, 0%, 100%);
}

.radio-switch__input:focus~.radio-switch__label {
    background-color: #353f4f;
}

.radio-switch__label :not(*):focus-within,
.radio-switch__input:focus~.radio-switch__label {
    background-color: transparent;
}

.radio-switch__marker {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    border-radius: 9999px;
    background-color: #353f4f;
    height: 42px;
    width: 92px;
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.radio-switch__input:checked~.radio-switch__marker {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/* utility classes */
.ri5-sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

/* Radio_Button_End */


/* Select_Start */

.select-label {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.open-file-select {
    box-sizing: border-box;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    line-height: 1.4286;
    padding: 10px 24px 10px 10px;
    font-size: 18px;
    background-color: #1e293b;
    background-size: 24px;
    color: white;
    border: 1px solid #666;
    border-width: 1px 1px 2px;
    color: #666;
    border-radius: 5px;
}

select::-ms-expand {
    display: none
}

.open-file-select:hover {
    border: 1px solid white;
    color: #ececec;
    cursor: pointer;
    transition: 0.2s;
}

.open-file-select:focus {
    outline: 0;
}

.logo-message {
    display: none;
    height: 0px;
}

.logo-github {
    display: none;
}

.open-file-button {
    margin-top: 20vh;
    text-align: center;
    border-radius: 8px;
}

.select-value {
    padding: 10px;
    font-size: 18px;
}

/* Select_End */


/* Stats_Container_Start */
.stats-container {
    width: 260px;
    background-color: #111827;
    padding: 16px;
    right: 0;
    top: 0;
    max-height: 100%;
    overflow: auto;
    display: none;
    flex-direction: column;
    gap: 16px;
}

.stats-bar {
    background-color: #1e293b;
    width: 100%;
    width: auto;
    padding: 12px;
    border-radius: 12px;
}

.hf-link {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.hf-link:hover {
    scale: 1.2;
    transition: all 0.3s;
}

.link-img {
    width: 24px;
    height: 24px;
}

.stats-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0;

}

.stats-button {
    margin: 0;
    padding: 4px 16px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 600;
    background-color: #424b5b;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.stats-value {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.stats-date {
    margin: 0;
    color: #94a3b8;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}


#score-value {
    color: #ffc107;
    text-align: center;
    white-space: nowrap;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
}

#params-value {
    color: #4f46e5;
}

#flops-value {
    color: #66bb6a;
}

#block-value {
    color: #f44336;
}

/* Stats_Container_End */

/* Slider_Container_Start */

.slider-container {
    width: 200px;
    position: relative;
}

/* Slider_Container_End */


.progress {
    top: 120px;
    height: 2px;
    width: 400px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #444444;
}

.notification .logo-name {
    display: none;
}

.notification .open-file-button {
    display: none;
}

.notification .progress {
    display: none;
}

.welcome body {
    background-color: #ececec;
}

.welcome {
    background-color: #ececec;
    color: #242424;
}

.welcome .message-text {
    display: none;
    opacity: 0;
}

.welcome .message-button {
    display: none;
    opacity: 0;
}

.welcome .graph {
    display: none;
    opacity: 0;
}

.welcome .menu {
    background-color: #ffffff;
}

.welcome.spinner .logo-spinner {
    display: block;
    -webkit-animation: orbit 0.5s infinite linear;
    animation: orbit 0.5s infinite linear;
    cursor: wait;
}

.welcome.spinner .menu-button {
    display: none;
}

.welcome.notification .menu-button {
    display: none;
}

.notification body {
    background-color: #ececec;
}

.notification .message {
    display: flex;
    opacity: 1;
}

.notification .message-text {
    display: inline;
    opacity: 1;
}

.notification .message-button {
    display: inline;
    opacity: 1;
}

.alert {
    background-color: #ececec;
    color: #242424;
}

.alert .graph {
    display: none;
    opacity: 0;
}

.alert .toolbar {
    display: none;
    opacity: 0;
}

.alert .menu {
    display: none;
    opacity: 0;
}

.alert .logo {
    display: none;
    opacity: 0;
}

.alert .message {
    display: flex;
    opacity: 1;
}

.alert .message-text {
    display: inline;
    opacity: 1;
    width: 50%;
    padding-top: 0px;
}

.alert .message-button {
    display: inline;
    opacity: 1;
}

.about {
    overflow: hidden;
}

.about .toolbar {
    display: none;
}

.about .logo {
    display: block;
    background-color: #ececec;
    color: #666666;
}

.about .logo-message {
    display: block;
    top: 132px;
    font-size: 14px;
}

.about .logo-github {
    display: block;
    top: 340px;
    width: 48px;
    height: 48px;
}

.about a {
    text-decoration: none;
    color: #666666;
}

.about a:visited {
    color: inherit;
}

.about a:hover {
    color: #242424;
}

.about .open-file-button {
    display: none;

}

.about .logo-name {
    display: none;
}

.about .notification {
    display: none;
}

.about .progress {
    display: none;
}

.about .menu-button {
    display: none;
}

.titlebar {
    color: #aaaaaa;
    display: none;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-app-region: drag;
}

.titlebar-visible {
    display: block;
}

.titlebar-content {
    display: block;
    padding: 0 142px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    transition: all .1s ease-in-out;
    user-select: none;
}

.titlebar-content-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.spinner .titlebar-content {
    opacity: 0;
}

.active .titlebar {
    color: #464646;
    transition: all 0.05s ease-in-out;
}

.titlebar-control-box {
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 138px;
}

.titlebar-control-box-visible {
    display: flex;
}

.titlebar-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.titlebar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 32px;
    user-select: none;
    -webkit-app-region: no-drag;
}

.titlebar-button:hover {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.15);
}

.titlebar-button-close:hover {
    color: #ffffff;
    background-color: #b43029;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaaa;
    font-size: 20px;
    height: 32px;
    width: 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-app-region: no-drag;
    -webkit-app-region: no-drag;
    user-select: none;
}

.menu-button:hover {
    color: #000000;
}

.menu {
    display: block;
    position: absolute;
    left: -17em;
    width: 17em;
    top: 0;
    height: 100%;
    z-index: 2;
    background-color: #ececec;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 40px;
    padding-bottom: 2px;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    transition: 0.1s;
}

.menu .menu-group {
    margin-bottom: 12px;
}

.menu .menu-group .menu-group-header {
    display: block;
    border: none;
    border-radius: 0;
    color: black;
    width: 100%;
    text-align: left;
    margin: 4px 12px 5px 12px;
    white-space: no-wrap;
    font-size: 11px;
    font-weight: bold;
    color: #bbbbbb;
    white-space: nowrap;
}

.menu .menu-group .menu-command {
    display: block;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: black;
    width: 100%;
    text-align: left;
    padding: 4px 12px 5px 12px;
    font-size: 12px;
}

.menu .menu-group .menu-command:focus {
    color: #ffffff;
    background-color: #2e6bd2;
    outline: none;
}

.menu .menu-group .menu-command:disabled {
    color: #888888;
}

.menu .menu-group .menu-command .menu-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menu .menu-group .menu-command .menu-shortcut {
    display: block;
    float: right;
    margin-left: 25px;
    color: #888888;
}

.menu .menu-group .menu-separator {
    border-top: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #e5e5e5;
    margin-left: 12px;
    margin-right: 12px;
}

.about .titlebar-visible {
    opacity: 0;
}

@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.welcome.spinner .logo-spinner-stroke {
    stroke: #ececec;
}

.welcome.spinner .logo-name {
    display: none;
}

.welcome.spinner .open-file-button {
    display: block;
}

.welcome.spinner .graph {
    display: flex;
    opacity: 0;
}

.welcome .notification .logo-name {
    display: none;
}

.welcome .toolbar {
    display: none;
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    .default {
        background-color: #1e293b;
    }

    .graph {
        background-color: #1e293b;
    }

    .welcome {
        background-color: #1e293b;
        color: #888888;
    }

    .alert {
        background-color: #1e293b;
        color: #888888;
    }

    .logo-stroke {
        stroke: #888888;
    }

    .logo-fill {
        fill: #888888;
    }

    .logo-border {
        stroke: #000000;
    }

    .logo-glyph {
        fill: #888888;
    }

    .logo-spinner-stroke {
        stroke: #ffffff;
    }

    .open-file-select {
        color: #b8babf;
        border-color: #b8babf;
    }

    .open-file-select:hover {
        color: white;
    }

    .welcome .progress-bar {
        background-color: #888888;
    }

    .welcome .menu {
        background-color: #2d2d2d
    }

    .about .logo {
        background-color: #1e1e1e;
        color: #888888;
    }

    .about a {
        color: #c6c6c6;
    }

    .about a:hover {
        color: #565656;
    }

    .toolbar-icon .border {
        stroke: #1d1d1d;
    }

    .toolbar-icon .stroke {
        stroke: #aaaaaa;
    }

    .toolbar-icon:hover .stroke {
        stroke: #dfdfdf;
    }

    .toolbar-path-back-button {
        background: #aaaaaa;
        border-color: #aaaaaa;
        color: #333333;
    }

    .toolbar-path-back-button:hover {
        background: #dfdfdf;
        border-color: #dfdfdf;
    }

    .toolbar-path-name-button {
        background: #aaaaaa;
        border-color: #aaaaaa;
        color: #404040;
    }

    .toolbar-path-name-button:hover {
        background: #dfdfdf;
        border-color: #dfdfdf;
    }

    .titlebar {
        color: #949494;
    }

    .welcome body {
        background-color: #1e1e1e;
    }

    .default body {
        background-color: #404040;
    }

    .active .titlebar {
        color: #c4c4c4;
    }

    .titlebar-button:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .titlebar-button-close:hover {
        color: #ffffff;
        background-color: #b43029;
    }

    .menu-button {
        color: #aaaaaa;
    }

    .menu-button:hover {
        color: #ffffff;
    }

    .menu {
        background-color: #2d2d2d;
        border-color: rgba(0, 0, 0, 0);
    }

    .menu .menu-group .menu-group-header {
        color: #666666;
    }

    .menu .menu-group .menu-command {
        color: #ffffff;
    }

    .menu .menu-group .menu-command:focus {
        color: #ffffff;
        background-color: #2e6bd2;
    }

    .menu .menu-group .menu-command:disabled {
        color: #888888;
    }

    .menu .menu-group .menu-command .shortcut {
        color: #888888;
    }

    .menu .menu-group .menu-separator {
        border-color: #363636;
    }
}

@media all and (max-width: 640px) {
    .logo {
        width: 240px;
    }

    .logo-text {
        opacity: 0;
    }

    .logo-name {
        opacity: 0;
    }

    .logo-icon {
        left: 0;
        width: 128px;
        height: 128px;
    }

    .logo-spinner {
        left: 0;
        width: 128px;
        height: 128px;
    }

    .logo .open-file-button {
        top: 204px;
        left: 0;
    }

    .message-text {
        padding-top: 68px;
        width: 320px;
    }

    .progress {
        top: 160px;
        height: 2px;
        width: 100px;
    }

    .about .logo {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .about .logo-message {
        top: 175px;
        font-size: 12px;
    }

    .about .logo-github {
        top: 370px;
    }
}

@media only screen and (max-device-width: 1024px) {
    .toolbar-button {
        width: 32px;
        height: 32px;
    }

    .toolbar-path-back-button {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .toolbar-path-name-button {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
    font-size: 12px;
    height: 100%;
    right: -100%;
    position: fixed;
    transition: 0.1s;
    top: 0;
    background-color: #353f4f;
    color: #ececec;
    overflow: hidden;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    z-index: 10;
}

.sidebar-title {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    height: 20px;
    margin: 0;
    padding: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sidebar-closebutton {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #777777;
    opacity: 1.0;
    display: block;
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: 15px;
    margin-left: 50px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sidebar-closebutton:hover {
    color: #242424;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 0;
}

.sidebar-header {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.25;
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ececec;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.sidebar-object {
    flex-grow: 1;
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
}

.sidebar-item {
    margin-bottom: 0px;
    display: block;
}

.sidebar-item-name {
    float: left;
    font-size: 12px;
    min-width: 95px;
    max-width: 95px;
    padding-right: 5px;
    padding-top: 7px;
    display: block;
}

.sidebar-item-name input {
    color: #777;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-overflow: ellipsis;
}

.sidebar-item-value-list {
    margin: 0;
    margin-left: 105px;
    overflow: hidden;
    display: block;
    padding: 0;
}

.sidebar-item-value {
    font-size: 11px;
    background-color: #fcfcfc;
    border-radius: 2px;
    border: 1px solid #fcfcfc;
    margin-top: 3px;
    margin-bottom: 3px;
    overflow: auto;
}

.sidebar-item-value-content {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}

.sidebar-item-value b {
    font-weight: bold;
}

.sidebar-item-value code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sidebar-item-value pre {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin: 0;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    display: block;
}

.sidebar-item-value-line {
    padding: 4px 6px 4px 6px;
    color: #1e293b;
    font-weight: 700;
    font-size: 12px;
}

.sidebar-item-value-line-link {
    padding: 4px 6px 4px 6px;
    cursor: default;
    overflow-x: auto;
    white-space: nowrap;
}

.sidebar-item-value-line-link:hover {
    text-decoration: underline;
}

.sidebar-item-value-line-border {
    padding: 4px 6px 4px 6px;
    border-top: 1px solid rgba(27, 31, 35, 0.05);
    color: #1e293b;
}

.sidebar-item-value-line-content {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
    display: block;
    color: #1e293b;
}

.sidebar-item-value-expander {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: right;
    color: #aaa;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 4px 6px 4px 4px;
}

.sidebar-item-value-expander:hover {
    color: #333;
}

.sidebar-item-value-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    width: 22px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #aaa;
}

.sidebar-item-value-button svg use {
    fill: #aaa;
    stroke: #aaa;
}

.sidebar-item-value-button:hover svg use {
    fill: #333;
    stroke: #333;
}

.sidebar-item-value-button-tool {
    float: right;
    padding-left: 3px;
}

.sidebar-item-value-button-context {
    float: right;
}

.sidebar-item-selector {
    font-family: inherit;
    font-size: 12px;
    background-color: #fcfcfc;
    border: #fcfcfc;
    color: #333;
    border-radius: 2px;
    width: 100%;
    height: 23px;
    padding: 3px 12px 3px 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #333 50%), linear-gradient(135deg, #333 50%, transparent 50%);
    background-position: calc(100% - 12px) calc(10px), calc(100% - 7px) calc(10px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

.sidebar-separator {
    margin-bottom: 20px;
}

.sidebar-find-search {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    margin: 0px 20px 8px 20px;
    padding: 0px 8px 0px 8px;
}

.sidebar-find-query {
    width: 100vw;
    background: none;
    font-family: inherit;
    font-size: 13px;
    padding: 8px 8px 8px 8px;
    border: 0;
    outline: 0;
}

.sidebar-find-toggle {
    margin-left: auto;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.sidebar-find-toggle input[type="checkbox"] {
    display: none;
}

.sidebar-find-toggle input[type="checkbox"]:not(:checked)+svg {
    fill: #ccc;
    stroke: #ccc;
}

.sidebar-find-toggle input[type="checkbox"]:checked+svg {
    fill: #555;
    stroke: #555;
}

.sidebar-find-toggle-icon {
    stroke: #555;
    fill: #555;
    width: 16px;
    height: 16px;
}

.sidebar-find-content {
    flex-grow: 1;
    padding: 0px 20px 20px 20px;
    padding-right: 20px;
    overflow-y: auto;
    list-style-type: none;
    overflow-y: auto;
    margin: 0;
}

.sidebar-find-content li {
    color: #666;
    height: 22px;
    padding: 0 12px 0 12px;
    outline: 0;
    white-space: nowrap;
    border-radius: 3px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.sidebar-find-content li:hover {
    background: #e5e5e5;
    color: #000;
}

.sidebar-find-content li>span {
    font-size: 13px;
    line-height: 22px;
    padding-left: 2px;
    pointer-events: none;
}

.sidebar-find-content-icon {
    stroke: #555;
    fill: #555;
    float: left;
    width: 16px;
    height: 16px;
    margin: 3px;
}

.sidebar-documentation {
    flex-grow: 1;
    padding: 0px 20px 20px 20px;
    overflow-y: auto;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
}

.sidebar-documentation h1 {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.25;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0.3em;
    margin-top: 0;
    margin-bottom: 16px;
}

.sidebar-documentation h2 {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
    border: 0;
}

.sidebar-documentation h3 {
    font-weight: bold;
    font-size: 11px;
    line-height: 1.25;
}

.sidebar-documentation p {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
}

.sidebar-documentation a {
    color: #237;
}

.sidebar-documentation code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
    background-color: rgba(27, 31, 35, 0.05);
    padding: 0.2em 0.4em;
    margin: 0;
    border-radius: 3px;
}

.sidebar-documentation pre {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.sidebar-documentation pre code {
    font-size: 13px;
    padding: 16px;
    line-height: 1.45;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.sidebar-documentation tt {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-weight: bold;
    font-size: 90%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    margin: 0;
}

.sidebar-documentation dl dt {
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin-top: 16px;
    margin-left: 0px;
}

.sidebar-documentation dd {
    padding: 0 16px;
    margin-left: 0;
    margin-bottom: 16px;
}

.sidebar-documentation ul {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 20px;
}

.sidebar-documentation blockquote {
    margin-left: 15px;
    margin-right: 15px;
}

@media (prefers-color-scheme: dark) {
    .sidebar html {
        color: #dfdfdf;
    }

    .sidebar {
        background-color: #2d2d2d;
        color: #dfdfdf;
        border-left: 1px solid rgba(0, 0, 0, 0);
    }

    .sidebar-closebutton {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #777777;
        opacity: 1.0;
        display: block;
        transition: 0.2s;
        position: absolute;
        top: 0;
        right: 15px;
        margin-left: 50px;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .sidebar-closebutton:hover {
        color: #ffffff;
    }

    .sidebar-item-value {
        background-color: #383838;
        border-color: #383838;
    }

    .sidebar-item-value-content {
        background-color: #3e3e3e;
        border-color: #3e3e3e;
    }

    .sidebar-item-value-line-border {
        border-color: rgba(0, 0, 0, 0.09);
    }

    .sidebar-item-selector {
        background-color: #383838;
        border: #383838;
        color: #dfdfdf;
        background-image: linear-gradient(45deg, transparent 50%, #aaa 50%), linear-gradient(135deg, #aaa 50%, transparent 50%);
    }

    .sidebar-item-disable-select {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .sidebar-header {
        border-bottom-color: #2d2d2d;
        color: #dfdfdf;
    }

    .sidebar-documentation h1 {
        border-bottom: 1px solid #424242;
        color: #dfdfdf;
    }

    .sidebar-documentation h2 {
        color: #dfdfdf;
    }

    .sidebar-documentation p {
        color: #aaaaaa;
    }

    .sidebar-documentation a {
        color: #6688aa;
    }

    .sidebar-documentation tt {
        background-color: #1e1e1e;
    }

    .sidebar-documentation code {
        background-color: #1e1e1e;
    }

    .sidebar-documentation pre {
        background-color: #1e1e1e;
    }

    .sidebar-find-search {
        background: #383838;
        color: #dfdfdf;
        border-color: #424242;
    }

    .sidebar-find-toggle input[type="checkbox"]:not(:checked)+svg {
        fill: #555;
        stroke: #555;
    }

    .sidebar-find-toggle input[type="checkbox"]:checked+svg {
        fill: #aaa;
        stroke: #aaa;
    }

    .sidebar-find-content li {
        color: #aaaaaa;
    }

    .sidebar-find-content li:hover {
        background: #383838;
        color: #dfdfdf;
    }

    .sidebar-find-content-icon {
        stroke: #888888;
        fill: #888888;
    }

    .sidebar-item-value-expander {
        color: #888;
    }

    .sidebar-item-value-expander:hover {
        color: #e5e5e5;
    }

    .sidebar-item-value-button {
        color: #888;
    }

    .sidebar-item-value-button svg use {
        fill: #888;
        stroke: #888;
    }

    .sidebar-item-value-button:hover svg use {
        fill: #e5e5e5;
        stroke: #e5e5e5;
    }


    .sidebar-item-value-line {
        color: #1e293b;
    }




}

@media screen and (prefers-reduced-motion: reduce) {
    .menu {
        transition: none;
    }

    .sidebar {
        transition: none;
    }
}



/* Template */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.progress-circle {
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #e6e6e6;
    position: relative;
    clip-path: circle(50%);
}

.mask,
.fill {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

.mask {
    clip: rect(0px, 75px, 150px, 0px);
    /* Clipping to half of the circle */
}

.mask.full {
    clip: rect(auto, auto, auto, auto);
    /* No clipping */
}

.fill {
    clip: rect(0px, 75px, 150px, 0px);
    /* Clipping to half of the circle */
    background-color: #3498db;
    transform: rotate(0deg);
    transform-origin: center center;
    transition: transform 0.5s;
}

.fill.fix {
    clip: rect(0px, 75px, 150px, 0px);
    /* Clipping to half of the circle */
    background-color: #3498db;
    transform: rotate(0deg);
    transform-origin: center center;
}

.inside-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #1e293b;
    line-height: 120px;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;
}